html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%; }

a {
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus {
  outline: 0; }

audio, video {
  max-width: 100%;
  height: auto; }

audio, canvas, iframe, video, img, svg {
  vertical-align: middle; }

iframe {
  border: 0; }

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

input, textarea, select, button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy"), url("./fonts/Gilroy-Regular.woff2") format("woff2"), url("./fonts/Gilroy-Regular.woff") format("woff"); }

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("./fonts/Gilroy-Light.woff2") format("woff2"), url("./fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Galien";
  font-style: normal;
  font-weight: normal;
  src: local("Galien"), url("./fonts/Galien-Regular.woff2") format("woff2"), url("./fonts/Galien-Regular.woff") format("woff"); }

.button {
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 48px;
  cursor: pointer;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF; }
  .button:hover {
    background: #377fc0; }

.footer__button {
  padding: 15px 74px; }

.footer {
  background: #5A98D0;
  border-radius: 200px 0px 0px 0px;
  display: flex;
  flex-direction: column; }

.footer__content-container {
  width: 100%; }

.footer__content-wrapper {
  padding: 0 213px; }

.footer__text-container {
  margin-top: 96px;
  display: flex;
  align-items: center;
  margin-bottom: 111px; }

.footer__title-wrapper {
  width: 213px;
  margin-right: 97px; }

.footer__descr-wrapper {
  width: 540px; }

.footer__clients {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 125px; }

.client {
  padding: 42px 0;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #FFFFFF; }
  .client:nth-child(-n+4) {
    border-bottom: 1px solid #FFFFFF; }
  .client:nth-child(4) {
    border-right: none; }
  .client:nth-child(8) {
    border-right: none;
    background: rgba(31, 63, 104, 0.2); }

.footer__section-container {
  background: #316099;
  border-radius: 0px 200px 0px 0px; }

.footer__section-text-container {
  margin-top: 91px;
  display: flex;
  flex-direction: column;
  width: 460px; }

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 860px;
  margin-bottom: 92px; }

.footer__section-title-wrapper {
  width: 320px; }

.footer__section-descr-wrapper {
  width: 460px; }

.footer__contacts {
  margin-top: 96px;
  margin-bottom: 64px;
  padding: 0 213px;
  display: flex;
  justify-content: space-between; }

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 264px; }

.contacts__title-wrapper {
  display: flex;
  margin-bottom: 32px; }

.contacts__list-wrapper {
  margin-bottom: 32px; }

.contact__item {
  display: flex;
  margin-bottom: 24px; }

.contact__item-list {
  margin-bottom: 16px; }

.contact__item-before {
  margin-right: 16px; }

.copyright {
  display: flex;
  padding: 0 213px;
  margin-bottom: 64px; }

.footer-feedback {
  background: transparent;
  padding-right: 96px; }

.feedback__form {
  display: flex;
  flex-direction: column; }

.feedback__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8; }

.feedback__input {
  opacity: 0.4;
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 21px 42px;
  margin-top: 5px; }

textarea {
  margin-top: 5px;
  opacity: 0.4;
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 21px; }

::-webkit-input-placeholder {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2; }

::-moz-placeholder {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2; }

:-moz-placeholder {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2; }

:-ms-input-placeholder {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2; }

a.main__text-default:hover {
  color: #cccccc; }

.card__link {
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #5A98D0; }
  .card__link:hover {
    color: #2b6599; }

#icon {
  width: 16px;
  height: 16px;
  fill: #5A98D0;
  margin-left: 16px; }
  #icon:hover {
    fill: #2b6599; }

.card__link-wrapper {
  color: #5A98D0; }
  .card__link-wrapper:hover {
    color: #2b6599; }

.header {
  margin-top: 50px;
  padding-bottom: 380px; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto; }

.nav__burger {
  width: 24px;
  height: 2px;
  background: #356EAD;
  content: '';
  display: flex;
  margin-bottom: 5px; }
  .nav__burger:last-child {
    margin-bottom: 0; }

.header__container {
  display: flex;
  max-width: 1366px;
  margin: 0 auto;
  position: relative; }

.header__content-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 212px; }

.header__title-wrapper {
  width: 510px;
  margin-top: 100px;
  margin-bottom: 32px; }

.header__descr-wrapper {
  margin-bottom: 71px;
  width: 425px; }

.header__image-container {
  position: absolute;
  top: 1rem;
  right: 2rem; }

.feedback__header {
  margin-bottom: 120px; }

.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background: url("../img/background.png") no-repeat center/cover; }

.feedback__title-wrapper {
  margin: 51px 0 16px 0; }

.feedback__subtitle-wrapper {
  margin-bottom: 49px;
  max-width: 780px; }

.section {
  padding: 0 213px;
  display: flex;
  justify-content: center;
  margin-bottom: 212px; }

.section__left, .section__right {
  width: 50%; }

.section__title-wrapper {
  max-width: 358px; }

.section__card {
  padding: 48px;
  max-width: 380px;
  height: 525px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px; }

.card__image {
  margin-left: 25px; }

.feedback__image {
  margin-bottom: 80px; }

.section__subtitle-wrapper {
  margin-bottom: 24px; }

.feedback__item {
  margin-bottom: 40px; }
  .feedback__item:last-child {
    margin-bottom: 0; }

.section__text-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  max-width: 300px; }

.feedback__item-icon {
  margin-right: 19px;
  width: 18px;
  height: 18px; }

.section__subtitle-wrapper {
  margin-bottom: 48px; }

.section__feedback-right {
  padding: 56px;
  width: 540px; }

.section__feedback {
  margin-bottom: 96px;
  justify-content: space-around; }

.section__feedback-left {
  max-width: 300px; }

.main__text {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  opacity: 0.6;
  color: #1F3F68; }

.main__text-default {
  color: #ffffff; }

.main__text-filled {
  opacity: 1; }

.main__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099; }

.main__title-default {
  color: #ffffff; }

.card__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  text-transform: capitalize; }

.client__text {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #F2F2F2;
  text-transform: uppercase; }

.client__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #FFFFFF; }

.contacts__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #FFFFFF; }

.contact__item-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF; }

.feedback__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF; }

.feedback__subtitle {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6); }

.section__subtitle {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68; }

.header__title {
  font-family: "Galien", Arial, sans-serif;
  font-size: 54px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68; }

@media screen and (max-width: 1365px) {
  .header {
    overflow: hidden; }
  .header__content-container {
    padding-left: 50px;
    width: 80%; } }

@media screen and (max-width: 1106px) {
  .header__image-container {
    width: 50%; } }

@media screen and (max-width: 890px) {
  .header__image-container {
    width: 40%; }
  .navigation, .footer__content-wrapper, .footer__contacts {
    padding: 0 20px; }
  .footer__title-wrapper {
    margin-left: 20px; }
  .footer__content {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20%; }
  .footer__button {
    margin-top: 20px; } }

@media screen and (max-width: 768px) {
  .header__image-container {
    display: none; }
  .section {
    flex-direction: column;
    padding: 0 20px; }
  .section__left {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .section__right {
    width: 100%;
    display: flex;
    flex-direction: row; }
  .section__title-wrapper {
    max-width: unset;
    text-align: center; }
  .section__card {
    float: unset;
    margin: 0 auto; }
  .header {
    padding-bottom: 180px; }
  .section__card {
    max-width: 280px;
    padding: 24px;
    margin-bottom: 20px; }
  .client__text, .client__link {
    font-size: 12px; }
  .section__right {
    flex-direction: column; } }

@media screen and (max-width: 600px) {
  .header__title-wrapper, .header__descr-wrapper, .footer__section-text-container, .footer__section-descr-wrapper, .footer__descr-wrapper {
    width: unset; }
  .copyright {
    padding: 0;
    justify-content: center; } }

@media screen and (max-width: 420px) {
  .header__title {
    font-size: 36px;
    line-height: 58px; }
  .client {
    padding: 24px 0; }
  .client__text {
    font-size: 8px; }
  .footer__text-container {
    flex-direction: column; }
  .footer__title-wrapper {
    width: unset;
    margin-right: 0;
    margin-bottom: 20px; }
  .footer__title {
    text-align: center; }
  .footer__content {
    margin-left: 0; }
  .footer__contacts {
    flex-wrap: wrap;
    justify-content: space-around; }
  .contacts-wrapper {
    margin-bottom: 18px; } }

@media screen and (max-width: 380px) {
  .footer__section-text-container {
    width: 100%; }
  .footer__section-title-wrapper {
    width: 100%; }
    .footer__section-title-wrapper .main__title {
      font-size: 20px; }
  .footer__section-descr-wrapper .main__text {
    font-size: 12px; } }
