// Font
$mainFont                : 'Gilroy', Arial, sans-serif;
$titleFont               : 'Galien', Arial, sans-serif;

// Size
$mainFontSize            : 16px;
$titleFontSize           : 64px;
//$mediumFontSize          : 36px;
//$largeFontSize           : 74px;
//$mainFontWeight          : 400;
//$mainLineHeight          : 100%;

$desktopWidth            : 1170px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$defaultColor           : #ffffff;
$primaryColor           : #1F3F68;
$mainColor              : #5A98D0;
$secondaryColor         : #316099;