.card__link {
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  background: url("../img/arrow.png") no-repeat 100%;
  padding-right: 44px;
}