.header__title {
  font-family: Galien, sans-serif;
  //font-size: 64px;
  font-size: 54px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.header__descr {
  font-family: Gilroy,sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.section__title {
  font-family: Gilroy, sans-serif;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
}

.card__title {
  font-family: Gilroy ,sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  text-transform: capitalize;
}

.card__descr {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.footer__title {
  font-family: Gilroy, sans-serif;
  font-size: 36px;
  line-height: 46px;
  //letter-spacing: 0.05em;
  color: #FFFFFF;
}
.footer__descr {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

.client__text {
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #F2F2F2;
  text-transform: uppercase;
}

.client__link {
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.contacts__title {
  font-family: Gilroy, sans-serif;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.contact__item-descr {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.contact__item-title {
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.contact__item-subtitle {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.copyright__text {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}

//
.feedback__title {
  font-family: Gilroy, sans-serif;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.feedback__subtitle {
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.section__subtitle{
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.section__text {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
}