///// font-size: 16px;

.main__text {
  font-family: $mainFont;
  font-size: $mainFontSize;
  line-height: 26px;
  letter-spacing: 0.05em;
  opacity: 0.6;
  color: $mainTextColor;
}

.main__text-default {
  color: $defaultColor;
}

.main__text-filled {
  opacity: 1;
}

///

.main__title {
  font-family: $mainFont;
  font-size: $titleFontSize;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: $secondaryColor;
}

.main__title-default {
  color: $defaultColor;
}

.card__title {
  font-family: $mainFont;
  font-size: $mediumFontSize;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: $mainTextColor;
  text-transform: capitalize;
}

.client__text {
  font-family: $mainFont;
  font-size: $mediumFontSize;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #F2F2F2;
  text-transform: uppercase;
}

.client__link {
  font-family: $mainFont;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.contacts__title {
  font-family: $mainFont;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.contact__item-title {
  font-family: $mainFont;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

//
.feedback__title {
  font-family: $mainFont;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.feedback__subtitle {
  font-family: $mainFont;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.section__subtitle{
  font-family: $mainFont;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: $mainTextColor;
}

///

.header__title {
  font-family: $titleFont;
  //font-size: $largeFontSize;
  font-size: 54px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: $mainTextColor;
}
